body {

        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }
    header {
        background-color: #f9f9f9;
        padding: 20px;
        text-align: center;
    }
    h1 {
        color: #333;
    }
    main {
        padding: 20px;
    }
    .tendencia {
        margin-bottom: 30px;
    }
    .tendencia h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }
    .tendencia p {
        font-size: 16px;
    }
    .tendencia img {
        max-width: 100%;
        height: auto;
        margin-bottom: 10px;
    }
